<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pactera.modulegold">

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <!-- 在组件集成宿主时, 由于宿主已经声明了 CommonSDK 的公有 ConfigModule, 所以在这里只需要声明业务组件自己的 ConfigModule -->
    <meta-data
        android:name="com.pactera.modulegold.app.GlobalConfigration"
        android:value="ConfigModule"/>

    <activity android:name=".mvp.ui.activity.GoldHomeActivity">
    </activity>
  </application>

</manifest>